@model _2015116292_ENT.Entities.Equipocelular

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equipocelular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipocelular_modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipocelular_modelo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Equipocelular_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
